@charset "UTF-8";

section#login{
    width: 85vw;
    height: 280px;
}
div#img{
    float: left;
    width: 30%;
    height: 100%;
}
div#formulario{
    float: right;
    width: 70%;
}
body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}div#formulario>p{
    font-size: 1em;
}
