@charset "UTF-8";

section#login{
    width: 930px;
}
div#img{
    float: left;
    width: 50%;
    height: 100%;
}
div#formulario{
    float: right;
    width: 50%;
}
body{
    background-image: linear-gradient(to top, #49a09d, #5f2c82);
}